.spacer {
  flex: 1 1 auto;
}

header {
  margin-bottom: 20px;

  div.profile {
    .container {
      display: flex;
      align-items: center;
    }

    .picture {
      width: 40px;
      height: 40px;
      padding: 8px;
      border-radius: 50px;
    }

    span.hello-user {
      font-size: 85%;
    }
  }
}

section {
  &.main-content {
    padding: 30px;
  }
}
